div.border-blue {
    border-color: #30497B !important;
}

.height-18 {
    height: 18vh;
}

.mt-medium {
    margin-top: 5%;
}

.offset-md-left-medium {
    margin-left: 8.3%;
}

.mt-medium-negative {
    margin-top: -5%;
}

.offset-md-right-medium {
    margin-right: 8.33%;
}

.border-right {
    border-right: 1px solid #dee2e6!important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}

.border-lr-blue {
    border-left-color: #30497B !important;
    border-right-color: #30497B !important;
}

.mt-medium-negative {
    margin-top: -5%;
}

.bg-gray {
    color: #c5cad0;
}

.bw {
    border-width: 0.2rem !important;
}

.height-2 {
    height: 2vh;
}

.name-room {
    font-size: 1.3rem;
}

.logo-inteligo {
    height: 27px;
    width: 110px;
}

.hour-executive {
    font-size: 20px;
    font-weight: 600;
}

/* selected */

.border-selected {
    border-color: rgb(241,241,242) !important;
}

.unavailable {
    background-color: #30497B !important;
}


/* available */
.available {
    background-color: rgb(241,241,242) !important;
}


/* ti be comfirmed */

.intermediate {
    background-color: rgb(233,214,107) !important;
}